.main {
	position: absolute;
	top: 70px;
}

.main-noFocus {
	position: absolute;
	top: 70px;
	background-color: rgba(57, 55, 72, 0.22);
}

.main-wrapper {
	padding: 0.5rem 5rem;
	width: calc(100vw - 177px);
	height: 90vh;
	max-width: 100%; /* added */
}

.main-text {
	font-weight: 400;
	padding: 1rem 0 0 6rem;
	margin-left: 1rem;
}

.products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.product {
	width: 30rem;
	height: 30rem;
	margin: 2rem 1.5rem;
	background-color: white;
	cursor: pointer;
}

.product-noFocus {
	width: 30rem;
	height: 30rem;
	margin: 2rem 1.5rem;
	background-color: white;
	cursor: pointer;
	opacity: 0.5;
}
.noStock {
	opacity: 0.5;
}

.main-imgs {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.outOfStock h3 {
	color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 1.4rem;
}

.product:hover {
	-webkit-box-shadow: 0px 5px 13px 3px #e3e3e3;
	box-shadow: 0px 5px 13px 3px #e3e3e3;
}

.img {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 0.4rem;
	height: 80%;
	overflow: hidden;
	position: relative;
}

.product-desc {
	margin: 0.5rem 0.45rem;
}

.product h4 {
	font-weight: 300;
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
}

.product p {
	font-weight: 500;
	font-size: 0.9rem;
}

.product-noFocus p {
	font-weight: 500;
	font-size: 0.9rem;
}

.product-noFocus h4 {
	font-weight: 300;
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
}

.outOfStock {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	position: relative;
	bottom: 4.4rem;
	left: 23.5rem;
	border-radius: 50%;
	background-color: #5ece7b;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.cards-disable {
	position: relative;
	bottom: 4.4rem;
	left: 23.5rem;
	border-radius: 50%;
	background-color: #5ece7b;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
	cursor: not-allowed;
}

.cards-disable:hover {
	background-color: rgb(146, 146, 146);
}

.shopping-card {
	width: 20px;
}

.cards:hover {
	background-color: #7cd393;
}

.cards:active {
	background-color: #5aa86f;
}

@media screen and (max-width: 430px) {
	.main {
		position: relative;
		top: 70px;
	}
	.product {
		width: 20rem;
		height: 20rem;
	}

	.main-wrapper {
		max-width: 110%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.products {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.img {
		height: 100%;
	}
}
