.links {
	color: inherit;
	text-decoration: none;
}

/* Loading CSS */

.loader {
	position: absolute;
	left: 50%;
	top: 30rem;
	transform: translate(-50%);
}

.cards-disable:hover {
	background-color: gray;
	cursor: not-allowed;
}
