.checkout {
	padding: 3rem 6.2rem;
	margin-right: 4rem;
}

.checkout-noFocus {
	padding: 3rem 6.2rem;
	margin-right: 4rem;
	opacity: 0.5;
}

.checkout-title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 80px;
}

.checkout-products {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 24px 0;
}

.checkout-product {
	display: flex;
	justify-content: space-between;
}

.checkout-product-left h3 {
	font-weight: 600;
}

.checkout-product-left h3 span {
	font-weight: 400;
}
.checkout-product-left h1 {
	font-weight: 600;
	margin-top: 10px;
	font-size: 20px;
}

.checkout-product-right p {
	font-weight: 600;
}

.checkout-price {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}

.checkout-price p {
	font-weight: 600;
}

.form-link {
	color: inherit;
	text-decoration: none;
}

@media screen and (max-width: 430px) {
	.checkout {
		width: 100vw;
		padding: 0;
		padding-left: 20px;
	}
}
