.miniCard-main {
	width: 325px;
	min-height: 200px;
	background-color: white;
	position: absolute;
	top: 80px;
	right: 6rem;
	color: #1d1f22;
	padding: 20px;
	-webkit-box-shadow: 0px 5px 13px 3px #e3e3e3;
	box-shadow: 0px 5px 13px 3px #e3e3e3;
}

.miniCard-top {
	margin-bottom: 30px;
}

.miniCard-top h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 25.6px;
}

.miniCard-top h3 span {
	font-weight: 500;
}

.miniCard-product {
	display: flex;
	min-height: 142px;
	margin-bottom: 24px;
}

.miniCard-left {
	display: flex;
	flex-direction: column;
	flex: 5;
}

.miniCard-left h3 {
	font-weight: 300;
	margin-bottom: 5px;
}

.miniCard-left-price {
	margin: 15px 0;
	width: 50px;
}

.miniCard-left-attribute {
	font-size: 14px;
	margin-top: 10px;
	margin-right: 5px;
	width: 32px;
	min-height: 24px;
	border: 1px solid #1d1f22;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
}

.miniCard-left-attribute-text {
	font-size: 0.5vw;
	font-weight: 500;
}

.minicard-left-attributes {
	display: flex;
}

.miniCard-left-attribute p {
	font-size: 10px;
}

.miniCard-middle {
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: space-between;
	align-items: flex-end;
}

.miniCard-middle p {
	width: 24px;
	height: 24px;
	border: 1px solid #1d1f22;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.miniCard-middle p:hover {
	font-weight: 500;
	background-color: rgb(241, 240, 240);
}

.miniCard-middle:active {
	font-weight: 600;
}

.miniCard-middle p:hover {
	font-weight: 500;
}

.miniCard-middle p:active {
	font-weight: 600;
}
.miniCard-middle h3 {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.miniCard-right {
	display: flex;
	flex: 4;
	justify-content: flex-end;
	align-items: center;
}

.miniCard-right-main {
	width: 105px;
	height: 142px;
	object-fit: contain;
}

.miniCard-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.miniCard-bottom-amount {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-weight: 700;
}

.miniCard-bottom-payment {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-weight: 600;
}

.miniCard-bottom-payment p {
	padding: 16px 32px;
	min-width: 87px;
	cursor: pointer;
}

.miniCard-bottom-payment-left {
	border: 1px solid black;
	font-weight: 500;
}

.miniCard-bottom-payment-left:hover {
	font-weight: 700;
	background-color: rgb(245, 245, 245, 0.1);
}

.miniCard-bottom-payment-right {
	color: white;
	background-color: #43aa5e;
	border: 1px solid #43aa5e;
	font-weight: 600;
}

.miniCard-bottom-payment-right:hover {
	background-color: #78da90;
	border: 1px solid #78da90;
	font-weight: 700;
}

.miniCard-link {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 430px) {
	.miniCard-main {
		top: 80px;
		right: -3.5rem;
	}
}
