* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.copy-disable {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.app-container {
	height: 100%;
	width: 100%;
	position: relative;
}
